# This is the base URL.  A wiki called 'test' must be configured.
wiki.url=http\://localhost:8080/reviki
wiki.username=user1
wiki.password=password1
wiki.altusername=user2
wiki.altpassword=password2
wiki.svn=http\://localhost/svn/
