# -*- coding: utf-8 -*-
# vim: set ft=python :

import decimate.projects
from decimate.projects.svn import *
from decimate.projects.ant import *
from decimate.projects.statuspublishing import *
from decimate.projects.otherbuilds import *
from decimate.projects.emailnotify import *
from decimate.projects.filespublishing import *
from decimate.projects.junitpublishingant import *
from decimate.projects.cfl import *

import os
import re
import glob

thisProject = "Reviki"
emailAddresses = ["reviki-dev@corefiling.com"]
baseSvnPath = "reviki/branches/dsl"
svnUrls = ["http://svn.reviki.org/svn/" + baseSvnPath]

web = urlImport("http://svn.dsl.local/svn/devel/decimate/sharedConfigs/trunk/web.py")


class RevikiProject(StatusPublishingProject):
    name = thisProject
    category = "3rd Party"
    provides = {"default": "Build"}

    def getTestConfigurations(self):
        return [
            BuildDist("Build", platform = "linux2", jdk = "1.5"),
            WebTests("Web Tests", platform = "linux2", jdk = "1.5"),
         ]


class BuildDist(StatusPublishingTestConfiguration, SvnTestConfiguration, EmailTestConfiguration, JUnitPublishingAntTestConfiguration, AntTestConfiguration, ExpiringArchiveTestConfiguration):
    svnUrls = svnUrls
    emailAddresses = emailAddresses
    antTargets = [(baseSvnPath, "unit-tests"), (baseSvnPath, "war")]
    publishFilesBase = baseSvnPath
    publishFiles = ["*.war"]
    xmlJUnitResultsPatterns = [os.path.join(baseSvnPath, "reports", "*.xml")]


class WebTests(StatusPublishingTestConfiguration, OtherBuildsTestConfiguration, EmailTestConfiguration, SvnTestConfiguration, AntTestConfiguration, web.JettyTestConfiguration):
    svnUrls = svnUrls
    emailAddresses = emailAddresses
    antTargets = []

    otherBuilds = [{"projectName": thisProject, "configName": "Build", "copyFiles": [{"from":"", "to":""}]}]

    jettyContextParameters = {
        "javax.servlet.jsp.jstl.fmt.timeZone": "Europe/London",
        "reviki-data-dir": "reviki-test-data",
    }


