<div class="markup_help">
  <h3>Cheatsheet</h3>
  <div class="markup_table">
    <table>
      <tbody>
      <tr><td>//italics//</td><td class="arrow">&#8594;</td><td><em>italics</em></td></tr>
      <tr><td>**bold**</td><td class="arrow">&#8594;</td><td><strong>bold</strong></td></tr>
      <tr><td>--strikethrough--</td><td class="arrow">&#8594;</td><td><del>strikethrough</del></td></tr>
      <tr><td>* Bullet list<br/>* Second item<br/>** Sub item</td><td class="arrow">&#8594;</td><td>&#8226; Bullet list<br/>&#8226; Second item<br/>..&#8226; Sub item</td></tr>
      <tr><td># Numbered list<br/># Second item<br/>## Sub item</td><td class="arrow">&#8594;</td><td>1. Numbered list<br/>2. Second item<br/>2.1 Sub item</td></tr>
      <tr><td>WikiPage, c2:WikiPage</td><td class="arrow">&#8594;</td><td>Internal, inter-wiki links</td></tr>
      <tr><td>[[AnyLink|named link]]</td><td class="arrow">&#8594;</td><td><a href="">named link</a></td></tr>
      <tr><td>== Large heading<br/>=== Medium heading<br/>==== Small heading</td><td class="arrow">&#8594;</td><td><span style="font-size: 130%; font-weight: bold;"> Large heading</span><br/><span style="font-size: 115%; font-weight: bold;">Medium heading</span><br/><span style="font-size: 100%; font-weight: bold;">Small heading</span></td></tr>
      <tr><td>No<br/> linebreak!<br/><br/>Use empty line</td><td class="arrow">&#8594;</td><td>No line break!<br/><br/>Use empty line</td></tr>
      <tr><td>Forced\\linebreak<br/></td><td class="arrow">&#8594;</td><td>Forced<br/>line break</td></tr>  
      <tr><td>{{Image.jpg|title}}</td><td class="arrow">&#8594;</td><td>Image with title</td></tr>
      </tbody>
    </table>
    <table>
      <tbody>
      <tr><td>Horizontal line:<br/>----</td><td class="arrow">&#8594;</td><td>Horizontal line: <hr/></td></tr>
      <tr><td>|=|=table|=header|<br/>|a|table|row|<br/>|b|table|row|</td><td class="arrow">&#8594;</td><td>Table</td></tr>
      <tr><td>{{{<br/>== [[Nowiki]]:<br/> //**don't** format//<br/>}}}</td><td class="arrow">&#8594;</td><td><pre>== [[Nowiki]]:<br/> //**don't** format//</pre></td></tr>
      <tr><td>```java<br/>void aMethod {<br/>// some java code<br/>}<br/>```</td><td class="arrow">&#8594;</td><td><pre><code>void aMethod() {
// some java code
}</code></pre></td></tr>
      <tr><td>Some `inline(1)` code</td><td class="arrow">&#8594;</td><td>Some<code class="inline">inline(1)</code>code</td></tr>
      <tr><td>"""<br/>blockquote<br/>"""</td><td class="arrow">&#8594;</td><td><blockquote>blockquote</blockquote></td></tr>
      <tr><td>[&lt;html&gt;]<br/>&lt;div&gt;Some HTML&lt;/div&gt;<br/>[&lt;/html&gt;]</td><td class="arrow">&#8594;</td><td><div>Some HTML</div></td></tr>
      </tbody>
    </table>
  </div><!--markup_table-->
</div><!--markup_help-->
