<?xml version="1.0" encoding="UTF-8"?>
<web-app id="reviki" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>reviki</display-name>
	<servlet>
      <servlet-name>dispatcher</servlet-name>
	  <servlet-class>net.hillsdon.reviki.web.dispatching.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>dispatcher</servlet-name>
	  <url-pattern>/pages/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>dispatcher</servlet-name>
	  <url-pattern>/root</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>dispatcher</servlet-name>
	  <url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>dispatcher</servlet-name>
	  <url-pattern>/jump</url-pattern>
	</servlet-mapping>
	<filter>
	  <filter-name>cache-resources</filter-name>
	  <filter-class>net.hillsdon.reviki.web.filters.CacheResourcesFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>cache-resources</filter-name>
	  <url-pattern>*</url-pattern>
	</filter-mapping>
  <listener>
    <listener-class>org.apache.tiles.web.startup.TilesListener</listener-class>
  </listener>
  <!-- The JSP redirects to a dynamic entry point. -->
	<welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
